<div style="margin-top: -105px">
	<div class="row justify-content-md-center text-center">
		<div class="col col-3 bg-white habilidades" style="border-radius: 15px 0px 0px 15px; box-shadow: 0 5px 5px 0 gray">
			<i class="bi-hdd-fill"></i>
			<h3>Back-End</h3>
			<p>Trabajo desde el desarrollo, pruebas </p>
			<p class="text-primary cabecera">
				Stack
			</p>
			<p>
				ASP.NET Core, SQL Server, PostgreSQL, Python
			</p>
			<p class="text-primary cabecera">
				Experiencia:
			</p>
			<ul>
				<li>Web APIs</li>
				<li>ASP.NET Core MVC</li>
				<li>Blazor</li>
				<li>Dapper</li>

			</ul>
		</div>
		<div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
			<i class="bi-code-slash"></i>
			<h3>Front-End</h3>
			<p>Puedo crear FrontEnd robustos</p>

			<p class="text-primary cabecera">
				Stack
			</p>
			<p>
				React, Blazor y Vue
			</p>
			<p class="text-primary cabecera">
				Experiencia:
			</p>
			<ul>
				<li>React Hook</li>
				<li>Blazor WASM</li>
				<li>JQuery</li>

			</ul>
		</div>
	</div>
</div>