@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Gracias";
}

<h1>Gracias por ponerte en contacto</h1>
<p>Te contactare en las proximas horas</p>

<div>
    <a asp-action="Index" asp-controller="Home">Volver al inicio</a>
</div>
